[Unit]
Description=Pull the latest pgAdmin4 image and restart the service

[Service]
Type=oneshot
ExecStart=/usr/bin/docker pull dpage/pgadmin4:{{ pgadmin_config.image_tag }}
ExecStart=/bin/systemctl restart pgadmin4.service
