[Unit]
Description=Daily Barrin's Scripture scrape ({{ scripture_scraper_config.app_name }})

[Timer]
OnCalendar=*-*-* {{ '%02d' | format(scripture_scraper_config.daily_hour) }}:00:00
RandomizedDelaySec=1800
Persistent=true

[Install]
WantedBy=timers.target
